.FukashigiNoCarte{
    background-image: url(../img/FukashigiNoCarte.jpg);
}

.BlendS{
    background-image: url(../img/BlendS.jpg);
}

.NarutoEnd1{
    background-image: url(../img/NarutoEnd1.jpg);
}

.ChavesAcapulco{
    background-image: url(../img/ChavesAcapulco.jpg);
}

.OshiNoKo{
    background-image: url(../img/OshiNoKo.jpg);
}
.SonicFrontiers{
    background-image: url(../img/SonicFrontiers.jpg);
}
.YoungGirlA{
    background-image: url(../img/YoungGirlA.jpg);
}
.DokiDokiForever{
    background-image: url(../img/DokiDokiForever.jpg);
}
.JustMonika{
    background-image: url(../img/JustMonika.jpg);
}
.YourReality{
    background-image: url(../img/YourReality.jpg);
}
.SystemOfDown{
    background-image: url(../img/SystemOfDown.jpg);
}
.RockefellerStreet{
    background-image: url(../img/RockefellerStreet.jpg);
}
.AlienBlues{
    background-image: url(../img/AlienBlues.jpg);
}
.CrimesLost{
    background-image: url(../img/CrimesLost.jpg);
}
.EstrelarRemix{
    background-image: url(../img/EstrelarRemix.jpg);
}
.SequestroAs11{
    background-image: url(../img/SequestroAs11.jpg);
}
.VocaloidGigachad{
    background-image: url(../img/VocaloidGigachad.jpg);
}
.IGotNoTime{
    background-image: url(../img/IGotNoTime.jpg);
}
.AmorHospitalar{
    background-image: url(../img/AmorHospitalar.jpg);
}
.WeLiveWeLoveWeLie{
    background-image: url(../img/WeLiveWeLoveWeLie.jpg);
}
.EmotionalPrism{
    background-image: url(../img/EmotionalPrism.jpg);
}
.Aishite{
    background-image: url(../img/Aishite.jpg);
}
.StayWithMe{
    background-image: url(../img/StayWithMe.jpg);
}
.ShakeThatAss{
    background-image: url(../img/ShakeThatAss.jpg);
}
.TheGirlNextDoor{
    background-image: url(../img/TheGirlNextDoor.jpg);
}
